@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Sora:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #182e50;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 3% 5%;
  padding-bottom: 0;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-weight: 800;
      font-size: 30px;
      line-height: 47px;
      color: #ffffff;

      span {
        font-weight: 400;
        font-size: 25px;
        line-height: 47px;
        color: #ffffff;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      list-style: none;

      a {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #ffffff;
      }
    }
  }
}
.hamburger {
  display: none;
  cursor: pointer;

  span {
    display: block;
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px auto;
  }
}

.sec1 {
  display: flex;
  align-items: center;

  img {
    width: 50%;
  }

  h1 {
    text-align: center;
    letter-spacing: 0.03em;
    width: 500px;

    .BLUE {
      background: linear-gradient(
        180deg,
        rgba(247, 247, 247, 0.63) 0%,
        #86a2cb 51.56%,
        #86a2cb 71.35%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 96px;
      font-weight: 800;
    }

    .WHITE {
      font-weight: 700;
      line-height: 112px;
      letter-spacing: 0.03em;
      color: #ffffff;
      font-size: 96px;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;

    button {
      background: #749ad3;
      padding: 10px 15px;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 17px;
      border-radius: 8px;
      font-weight: 700;
    }
  }
}

.sec2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 9%;
  margin-top: 40px;

  h1 {
    color: white;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgba(107, 133, 173, 1);
    -webkit-text-stroke-width: 3px;
    font-size: 72px;
    filter: blur(1px);
  }

  .info {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  h2 {
    text-align: left;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
  }

  img {
    width: 50%;
  }
}

.sec3 {
  padding: 5% 9%;

  h1 {
    color: white;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgba(107, 133, 173, 1);
    -webkit-text-stroke-width: 2px;
    font-size: 40px;
  }

  .roadmap {
    margin-top: 50px;
    padding: 5% 5%;
  }

  .semester1 {
    list-style: bullet;

    h1 {
      text-align: center;
    }

    p {
      color: #ffffff;
      transform: rotate(-0.08deg);
      font-weight: 300;
      margin-top: 30px;
    }

    h3 {
      text-align: center;
      color: white;
      font-weight: 800;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: rgba(107, 133, 173, 1);
      -webkit-text-stroke-width: 1px;
      font-size: 20px;
      margin-top: 30px;
    }

    li {
      color: #fff;
      font-weight: 300;
    }
  }

  .semester2 {
    h1 {
      text-align: center;
      margin-bottom: 30px;
      margin-top: 30px;
    }

    p {
      color: #fff;
    }

    li {
      color: #fff;
    }
  }

  .charity {
    h1 {
      text-align: center;
      margin-top: 30px;
    }

    p {
      color: #fff;
      margin-top: 30px;
    }
  }

  .giveaway {
    h1 {
      text-align: center;
      margin-top: 30px;
    }

    p {
      color: #fff;
      margin-top: 30px;
    }
  }

  .scholarship {
    h1 {
      text-align: center;
      margin-top: 30px;
    }

    p {
      color: #fff;
      margin-top: 30px;
    }
  }

  .hold {
    h1 {
      text-align: center;
      margin-top: 30px;
    }

    p {
      color: #fff;
      margin-top: 30px;
    }

    li {
      color: #fff;
    }
  }

  .merch {
    h1 {
      text-align: center;
      margin-top: 30px;
    }

    p {
      color: #fff;
      margin-top: 30px;
    }
  }

  .meta {
    h1 {
      text-align: center;
      margin-top: 30px;
    }

    p {
      color: #fff;
      margin-top: 30px;
    }
  }
}

.sec4 {
  padding: 5% 9%;

  h1 {
    color: white;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgba(107, 133, 173, 1);
    -webkit-text-stroke-width: 2px;
    font-size: 40px;
    margin-bottom: 60px;
  }

  h5 {
    border-inline-start: 3px solid;
    border-block-start: 3px solid;
    border-inline-end: 3px solid;
    border-block-end: 3px-solid;
    border-image-source: radial-gradient(
      circle at top left,
      rgba(134, 162, 203, 1),
      transparent 25%
    );
    border-image-slice: 1;
    padding: 20px;
    width: 220px;
    margin: auto;
    color: #fff;
    margin-bottom: 40px;
  }
}

.sec5 {
  padding: 5% 9%;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  h1 {
    color: white;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgba(107, 133, 173, 1);
    -webkit-text-stroke-width: 2px;
    font-size: 40px;
    margin-bottom: 60px;
  }

  .name {
    h4 {
      width: 239px;
      text-align: left;
      color: white;
    }
  }

  .bigsvg {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      color: #fff;
    }

    img {
      width: 400px;
    }
  }

  .others {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 150px;
    }
  }
}

.sec6 {
  padding: 5% 9%;

  h4 {
    color: #fff;
  }
  a {
    color: rgba(103, 162, 232, 1);
  }

   .discord {
    margin-top: 50px;

    h5 {
      font-size: 25px;
      color: #fff;

    }

    span {
      font-size: 19px;
    }
   }

  button {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    padding: 0px 10px;
    gap: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;

    color: #000000;

    img {
      width: 35px;
    }
  }

  .discord {
    display: flex;
    align-items: center;
    gap: 25%;
  }
}
@media (max-width: 884px) {
  #hamburger {
    display: block;
  }
  .button {
    display: none;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #menu-link {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 30px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    width: 100%;
    text-align: center;
    transition: 0.3s;

    .connect {
      display: block;
    }

    a {
      margin: 16px 0px;
      font-weight: 400;
    }

    a::after {
      display: none;
    }
  }

  #menu-link.active {
    left: 0;
  }

  .sec1 .text {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 20px;
    }

    h1 {
      height: 40px;
      text-align: center;
      width: 100%;
    }

    button {
      font-size: 12px;
    }
  }

  .sec2 {
    margin-top: 40px;

    .info {
      h1 {
        font-size: 20px;
      }

      h2 {
        font-size: 12px;
      }
    }

    img {
      width: 80%;
    }
  }
}
