@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Sora:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #182e50;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 3% 5%;
  padding-bottom: 0;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav h3 {
  font-weight: 800;
  font-size: 30px;
  line-height: 47px;
  color: #ffffff;
}
header nav h3 span {
  font-weight: 400;
  font-size: 25px;
  line-height: 47px;
  color: #ffffff;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}
header nav ul a {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger span {
  display: block;
  background-color: white;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}

.sec1 {
  display: flex;
  align-items: center;
}
.sec1 img {
  width: 50%;
}
.sec1 h1 {
  text-align: center;
  letter-spacing: 0.03em;
  width: 500px;
}
.sec1 h1 .BLUE {
  background: linear-gradient(180deg, rgba(247, 247, 247, 0.63) 0%, #86a2cb 51.56%, #86a2cb 71.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 96px;
  font-weight: 800;
}
.sec1 h1 .WHITE {
  font-weight: 700;
  line-height: 112px;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-size: 96px;
}
.sec1 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.sec1 .text button {
  background: #749ad3;
  padding: 10px 15px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 17px;
  border-radius: 8px;
  font-weight: 700;
}

.sec2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 9%;
  margin-top: 40px;
}
.sec2 h1 {
  color: white;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgb(107, 133, 173);
  -webkit-text-stroke-width: 3px;
  font-size: 72px;
  filter: blur(1px);
}
.sec2 .info {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sec2 h2 {
  text-align: left;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.sec2 img {
  width: 50%;
}

.sec3 {
  padding: 5% 9%;
}
.sec3 h1 {
  color: white;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgb(107, 133, 173);
  -webkit-text-stroke-width: 2px;
  font-size: 40px;
}
.sec3 .roadmap {
  margin-top: 50px;
  padding: 5% 5%;
}
.sec3 .semester1 {
  list-style: bullet;
}
.sec3 .semester1 h1 {
  text-align: center;
}
.sec3 .semester1 p {
  color: #ffffff;
  transform: rotate(-0.08deg);
  font-weight: 300;
  margin-top: 30px;
}
.sec3 .semester1 h3 {
  text-align: center;
  color: white;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgb(107, 133, 173);
  -webkit-text-stroke-width: 1px;
  font-size: 20px;
  margin-top: 30px;
}
.sec3 .semester1 li {
  color: #fff;
  font-weight: 300;
}
.sec3 .semester2 h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.sec3 .semester2 p {
  color: #fff;
}
.sec3 .semester2 li {
  color: #fff;
}
.sec3 .charity h1 {
  text-align: center;
  margin-top: 30px;
}
.sec3 .charity p {
  color: #fff;
  margin-top: 30px;
}
.sec3 .giveaway h1 {
  text-align: center;
  margin-top: 30px;
}
.sec3 .giveaway p {
  color: #fff;
  margin-top: 30px;
}
.sec3 .scholarship h1 {
  text-align: center;
  margin-top: 30px;
}
.sec3 .scholarship p {
  color: #fff;
  margin-top: 30px;
}
.sec3 .hold h1 {
  text-align: center;
  margin-top: 30px;
}
.sec3 .hold p {
  color: #fff;
  margin-top: 30px;
}
.sec3 .hold li {
  color: #fff;
}
.sec3 .merch h1 {
  text-align: center;
  margin-top: 30px;
}
.sec3 .merch p {
  color: #fff;
  margin-top: 30px;
}
.sec3 .meta h1 {
  text-align: center;
  margin-top: 30px;
}
.sec3 .meta p {
  color: #fff;
  margin-top: 30px;
}

.sec4 {
  padding: 5% 9%;
}
.sec4 h1 {
  color: white;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgb(107, 133, 173);
  -webkit-text-stroke-width: 2px;
  font-size: 40px;
  margin-bottom: 60px;
}
.sec4 h5 {
  -webkit-border-start: 3px solid;
          border-inline-start: 3px solid;
  -webkit-border-before: 3px solid;
          border-block-start: 3px solid;
  -webkit-border-end: 3px solid;
          border-inline-end: 3px solid;
  -webkit-border-after: 3px-solid;
          border-block-end: 3px-solid;
  border-image-source: radial-gradient(circle at top left, rgb(134, 162, 203), transparent 25%);
  border-image-slice: 1;
  padding: 20px;
  width: 220px;
  margin: auto;
  color: #fff;
  margin-bottom: 40px;
}

.sec5 {
  padding: 5% 9%;
}
.sec5 .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec5 .flex {
  display: flex;
  align-items: center;
}
.sec5 h1 {
  color: white;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgb(107, 133, 173);
  -webkit-text-stroke-width: 2px;
  font-size: 40px;
  margin-bottom: 60px;
}
.sec5 .name h4 {
  width: 239px;
  text-align: left;
  color: white;
}
.sec5 .bigsvg {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sec5 .bigsvg h2 {
  color: #fff;
}
.sec5 .bigsvg img {
  width: 400px;
}
.sec5 .others {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.sec5 .others img {
  width: 150px;
}

.sec6 {
  padding: 5% 9%;
}
.sec6 h4 {
  color: #fff;
}
.sec6 a {
  color: rgb(103, 162, 232);
}
.sec6 .discord {
  margin-top: 50px;
}
.sec6 .discord h5 {
  font-size: 25px;
  color: #fff;
}
.sec6 .discord span {
  font-size: 19px;
}
.sec6 button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  padding: 0px 10px;
  gap: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 42px;
  color: #000000;
}
.sec6 button img {
  width: 35px;
}
.sec6 .discord {
  display: flex;
  align-items: center;
  gap: 31%;
}

footer {
  padding: 5% 5%;
  padding-bottom: 1%;
  color: #ffffff;
}
footer h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}
footer .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}
footer img {
  width: 40px;
  height: 30px;
}

@media (max-width: 884px) {
  #hamburger {
    display: block;
  }
  .button {
    display: none;
  }
  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #menu-link {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 30px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  #menu-link .connect {
    display: block;
  }
  #menu-link a {
    margin: 16px 0px;
    font-weight: 400;
  }
  #menu-link a::after {
    display: none;
  }
  #menu-link.active {
    left: 0;
  }
  .sec1 .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sec1 .text span {
    font-size: 20px;
  }
  .sec1 .text h1 {
    height: 40px;
    text-align: center;
    width: 100%;
  }
  .sec1 .text button {
    font-size: 12px;
  }
  .sec2 {
    margin-top: 40px;
  }
  .sec2 .info h1 {
    font-size: 20px;
  }
  .sec2 .info h2 {
    font-size: 12px;
  }
  .sec2 img {
    width: 80%;
  }
}
.sec3 h1 {
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
}
.sec3 p {
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */